<section class="products-section" id="productsSection">
    <div class="container text-center py-5">
        <div class="mb-4 mt-5">
            <h2 class="header text-center">
                All Products
            </h2>
            <p class="text-secondary">Discover our complete collection of premium products</p>
        </div>

        <!-- Sort + View Controls -->
        <div class="products-section">
            <div class="row">
                <div class="col-lg-3" *ngFor="let product of products">
                    <div class="card h-100 rounded-3 border-0 mb-4">
                        <div class="position-relative">
                            <div class="img-container">
                                <img style="height: 400px; object-fit: cover;"
                                    [src]="hovered === product ? 'images/premium-black-leather-jacket.jpg' : 'images/premium-black-leather-jacket.jpg'"
                                    (mouseenter)="hovered = product" (mouseleave)="hovered = null"
                                    alt="{{ product.name }}" />
                            </div>
                            <button class="btn btn-color btn-primary position-absolute  add-to-cart-btn">
                                <i class="ri-shopping-cart-2-line"></i>
                            </button>
                        </div>
                        <div class="text-center">
                            <div class="d-flex flex-column gap-2 justify-content-center align-items-center">
                                <a [routerLink]="['/product-details', product.id]" class="card-title mb-0">
                                    <!-- {{ product.title }} -->
                                    <p class="card-text product-title fw-semibold mt-2">{{ product.description }}
                                    </p>
                                </a>
                                <span>Price: <span class="fw-semibold">${{ product.price }}</span></span>
                                <!-- <div><span class="stock-info">{{ product.stock }}</span></div> -->
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- No results -->
        <div *ngIf="filteredProducts.length === 0" class="text-center py-5">
            <div class="empty-state">
                <i class="ri-search-line display-1 text-muted mb-3"></i>
                <h4 class="text-muted mb-3">No products found</h4>
                <p class="text-muted mb-4">Try adjusting your search criteria or browse our featured products.</p>
                <button class="btn btn-primary btn-color" (click)="clearFilters()">
                    <i class="ri-refresh-line me-2"></i>Clear Filters
                </button>
            </div>
        </div>
    </div>
</section>