// Bootstrap SCSS
@import "../node_modules/bootstrap/scss/bootstrap";

// @import '@ng-select/ng-select/themes/default.theme.css';

// Custom colors
@import "app/shared/scss/color.scss";

// Remixicon
@import "remixicon/fonts/remixicon.css";

body {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    background-color: white;
}

img,
video {
    max-width: 100%;
}

// Shared
.text-color {
    color: $main-color;
}

.bg-shared {
    background-color: $main-color;
}

.bg-card_body {
    background-color: #1f2937;
}

.btn-color {
    // background: linear-gradient(45deg, #eab532, #ebb01f);
    background-color: #10b981;
    color: white;
    border: 0;

    &:hover {
        // background: linear-gradient(45deg, #eab532, #ebb01f);
        background-color: #10b981;
        color: white;
    }
}