// Bootstrap SCSS
@import "../node_modules/bootstrap/scss/bootstrap";

// Swiper styles
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

// @import '@ng-select/ng-select/themes/default.theme.css';

// Custom colors
@import "app/shared/scss/color.scss";

// Remixicon
@import "remixicon/fonts/remixicon.css";

body {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    // background-color: black;
    color: black;
}

img,
video {
    max-width: 100%;
}

a {
    text-decoration: none;
}

// Shared
.text-color {
    color: $main-color;
}

.bg-shared {
    background-color: $main-color;
}

.bg-card_body {
    background-color: #1f2937;
}

.btn-color {
    // background: linear-gradient(45deg, #eab532, #ebb01f);
    background-color: #10b981;
    color: white;
    border: 0;

    &:hover {
        // background: linear-gradient(45deg, #eab532, #ebb01f);
        background-color: #10b981;
        color: white;
    }
}

.custom-tabset {
    .tab-container {
        ul {
            justify-content: center;
            border: 0;
            gap: 10px;

            .nav-item {
                a {
                    color: #656565;
                    border: 0;

                    &:hover {
                        border: 0;
                        border-bottom: solid black 2px;
                    }
                }
            }

            .nav-item.active {
                a {
                    border: 0;
                    border-bottom: solid black 2px;

                }
            }
        }
    }
}

//  .swiper-pagination{
//             .swiper-pagination-bullet{
//                 width: 10px !important;
//                 height: 10px !important;
//             }
//         }
